body {
    text-align: center;
    background-color: rgb(30, 28, 28);
}

.headline {
    color: rgb(64, 212, 200);
    font-size: 45px;
    
}

#description {
    color: rgb(145, 22, 138);
}

.menu{
    background-color: rgb(87, 87, 87);
    color: rgb(145, 22, 138);
}

.menuLinks{
    color: aliceblue;
}






